﻿<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>UserId</th>
            <th>FullName</th>
            <th>Age</th>
            <th>Group</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
            {
                foreach (var item in Model)
                {

                <tr>
                    <td>@item.Id</td>
                    <td>@item.FullName</td>
                    <td>@item.Age</td>
                    <td>@item.GroupName</td>
                </tr>
            }
        }

    </tbody>
</table>
