﻿@model IList<VesuvioLabsProject.Models.User>
@{
    ViewBag.Title = "Roster";
}
<link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<div>    
        <h1>Roster Page</h1>
        <table border="1">            
            <tr>
                <td>
                    <h1 style="color:blueviolet">Add User</h1>
                    <table border="1">
                        <tr>
                            <td>User FullName</td>
                            <td><input id="txtFullName" type="text" /></td>
                        </tr>
                        <tr>
                            <td>User Age</td>
                            <td><input id="txtAge" type="text" /></td>
                        </tr>
                        <tr>
                            <td>User Group</td>
                            <td><input id="txtGroupName" type="text" /></td>
                        </tr>
                    </table> 
                    <table border="1">
                        <tr>
                            <td><button id="btnPostUser" onclick="InsertUser()">Add New User</button></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br /><br />       
        <div id="dataTable"></div>
    </div>

@section JavaScript{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            // Create a proxy to signalr hub on web server. It reference the hub.
            var notificationFromHub = $.connection.userHub;

            // Connect to signalr hub
            $.connection.hub.start().done(function () {
                FetchUsers();
            });

            // Notify to client with the recent updates
            notificationFromHub.client.updatedClients = function () {
                FetchUsers();
            };
        });

        function FetchUsers() {
            var model = $('#dataTable');
            $.ajax({
                url: '/home/GetAllUserRecords',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            })
                .success(function (result) { model.empty().append(result); })
        }

        function InsertUser() {

            var user = {
                FullName: $('#txtFullName').val(),
                Age: $('#txtAge').val(),
                GroupName: $('#txtGroupName').val()
            };


            $.ajax({
                url: '/api/values',
                type: 'POST',
                data: JSON.stringify(user),
                contentType: "application/json;charset=utf-8",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Basic " + btoa("BatMan123" + ":" + "heLOgen92"));
                },
                success: function (data) {
                    alert('Employee added Successfully');
                },
                error: function () {
                    alert('Employee not Added');
                }
            });
        }

    </script>
}